*{
    margin: 0;
    padding: 0;

}

body{
    padding: 0;
    margin: 0;
    background:linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./backgroung.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    margin: 0;
    color: white;
    font-family:'Poppins', sans-serif ;

}
.container-fluid p{
    color: white;
    font-weight: bold;
    margin-left: 30px;
}

.d-flex{
    margin-left: 150px;
}
.right-padding{
    padding-right: 75px;
}

span{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cars{
    text-align: center;
    padding: 20px;
}

.cars h1{
    font-size: 30px;
    margin-bottom: 20px;
    color:rgb(254, 252, 250);
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    padding: 50px;
}

.card{
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.card img{
    width: 100%;
    height: 200px;
    border-bottom: 3px solid white;
}

.card h3{
    font-size: 20px;
    margin: 10px 0;
    color: grey;
}

.card p{
    font-size: 15px;
    color: grey;
    padding: 0 15px 15px 15px;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
